@page "/"
@inherits IndexBase

<h1>Hello, ingredients!</h1>

<div class="row">
    @foreach (var ingredient in Ingredients)
    {
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@ingredient.Name</h5>
                    <p class="card-text">@ingredient.Id</p>
                </div>
            </div>
        </div>
    }
</div>